// body sizing
body {
    font-family: Helvetica;
    font-size: 18px;

    @include tablet {
        font-size: 20px;
    }
    @include desktop {
        font-size: 22px;
    }
    @include largeDesktop {
        font-size: 24px;
    }
}

// base typography

// headers

h1, h2, h3, h4 {
    font-weight: normal;
}

h1, h2, h4.outline {
    color: color(text-black);
  -webkit-text-fill-color: color(bg); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: color(text-black);
}

h3 {
    color: color(text-yellow);
  -webkit-text-fill-color: color(bg);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: color(text-yellow);
}

h4 span {
    color: color(text-yellow);
}

h1 {
    font-size: 4em;

    @include tablet {
        font-size: 5em;
    }
    @include desktop {
        font-size: 5.5em;
    }
}
h2 {
    font-size: 3.3em;
    @include tablet {
        font-size: 3.7em;
    }
    @include desktop {
        font-size: 3.9em;
    }
}
h3 {
    font-size: 2.6em;

    @include tablet {
        font-size: 3em;
    }
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}

// other markup
p {
    font-size: 0.9em;
    line-height: 1.2em;

    span {
        color: color(text-yellow);
    }
}
a {

}
li {

}
code {

}

// classed
.logo {

}

.tagline {
    font-size: 1.2em;
}

.cta {

    // location
    &.header {

    }
    &.footer {

    }
    // sizing
    &.small {
        
    }
    &.large {

    }
    &.card {

    }
    // colours
    &.warning {
        // red
    }
    &.error {
        // orange
    }
    &.okay {
        // green
    }
    &.info {
        // blue
    }
    &.black {

    }
    &.white {

    }

}