<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero HTML | Do not index </title>
</head>
<body>
    <div class="heroWrapper">
        <div class="heroContent">
            <h1>designer</h1>
            <h1>freelancer</h1>
            <h1>developer</h1>
            <div class="circleWrapper">
                <span class="circle circle1"></span>
                <span class="circle circle2"></span>
            </div>
        </div>
        <div class="heroCta">
            <a href="#" class="ctaWrapper">
                <label for="ctaWrapper">view<br>my work</label>
                <img src="/static/img/icons/cta.svg" alt="">
            </a>
        </div>
    </div>
</body>
</html>