{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation HTML | Do not index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header class="desktopHeader">
        <div class="logo">
            <h5>karldamus</h5>
        </div>
        <nav>

        </nav>
        <div class="socials">

        </div>
    </header>
    <header class="mobileHeader">
        <div class="logo">
            <h5>karldamus</h5>
        </div>
        <div class="menuIcon">
            <span></span>
            <span class="middle"></span>
            <span></span>
            <!-- <img src="{% static 'img/icons/menu.svg' %}" alt=""> -->
        </div>
        <!-- <div class="menu">

        </div> -->
    </header>

    
</body>
</html>